<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
    <title>Login</title>
  </head>
  <body>
    <header>
      <h1>Login</h1>
      <a class="cart-link" href="/">Home</a>
    </header>
    <main>
      <form method="post" class="form">
        <label>Username</label>
        <input name="username" />
        <label>Password</label>
        <input name="password" type="password" />
        <button class="btn" type="submit">Sign in</button>
      </form>
    </main>
  </body>
</html>
